# My Vim plugins
[submodule "vim/bundle/auto_cache_dirs"]
    path = vim/bundle/auto_cache_dirs
    url = https://sanctum.geek.nz/code/vim-auto-cache-dirs.git
[submodule "vim/bundle/big_file_options"]
    path = vim/bundle/big_file_options
    url = https://sanctum.geek.nz/code/vim-big-file-options.git
[submodule "vim/bundle/clear_local_maps"]
    path = vim/bundle/clear_local_maps
    url = https://sanctum.geek.nz/code/vim-clear-local-maps.git
[submodule "vim/bundle/copy_linebreak"]
    path = vim/bundle/copy_linebreak
    url = https://sanctum.geek.nz/code/vim-copy-linebreak.git
[submodule "vim/bundle/diff_prune"]
    path = vim/bundle/diff_prune
    url = https://sanctum.geek.nz/code/vim-diff-prune.git
[submodule "vim/bundle/fixed_join"]
    path = vim/bundle/fixed_join
    url = https://sanctum.geek.nz/code/vim-fixed-join.git
[submodule "vim/bundle/insert_suspend_hlsearch"]
    path = vim/bundle/insert_suspend_hlsearch
    url = https://sanctum.geek.nz/code/vim-insert-suspend-hlsearch.git
[submodule "vim/bundle/markdown_autoformat"]
    path = vim/bundle/markdown_autoformat
    url = https://sanctum.geek.nz/code/vim-markdown-autoformat.git
[submodule "vim/bundle/paste_open"]
    path = vim/bundle/paste_open
    url = https://sanctum.geek.nz/code/vim-paste-open.git
[submodule "vim/bundle/put_blank_lines"]
    path = vim/bundle/put_blank_lines
    url = https://sanctum.geek.nz/code/vim-put-blank-lines.git
[submodule "vim/bundle/redact_pass"]
    path = vim/bundle/redact_pass
    url = https://sanctum.geek.nz/code/vim-redact-pass.git
[submodule "vim/bundle/strip_trailing_whitespace"]
    path = vim/bundle/strip_trailing_whitespace
    url = https://sanctum.geek.nz/code/vim-strip-trailing-whitespace.git
[submodule "vim/bundle/toggle_option_flags"]
    path = vim/bundle/toggle_option_flags
    url = https://sanctum.geek.nz/code/vim-toggle-option-flags.git
[submodule "vim/bundle/uncap_ex"]
    path = vim/bundle/uncap_ex
    url = https://sanctum.geek.nz/code/vim-uncap-ex.git

# My Vim colorschemes
[submodule "vim/bundle/juvenile"]
    path = vim/bundle/juvenile
    url = https://sanctum.geek.nz/code/vim-juvenile.git
[submodule "vim/bundle/sahara"]
    path = vim/bundle/sahara
    url = https://sanctum.geek.nz/code/vim-sahara.git

# Others' Vim plugins
[submodule "vim/bundle/repeat"]
    path = vim/bundle/repeat
    url = https://sanctum.geek.nz/clone/vim-repeat.git
[submodule "vim/bundle/surround"]
    path = vim/bundle/surround
    url = https://sanctum.geek.nz/clone/vim-surround.git
