# My Vim plugins
[submodule "vim/bundle/copy_linebreak"]
    path = vim/bundle/copy_linebreak
    url = https://sanctum.geek.nz/code/vim-copy-linebreak.git
[submodule "vim/bundle/fixed_join"]
    path = vim/bundle/fixed_join
    url = https://sanctum.geek.nz/code/vim-fixed-join.git
[submodule "vim/bundle/insert_suspend_hlsearch"]
    path = vim/bundle/insert_suspend_hlsearch
    url = https://sanctum.geek.nz/code/vim-insert-suspend-hlsearch.git
[submodule "vim/bundle/toggle_option_flags"]
    path = vim/bundle/toggle_option_flags
    url = https://sanctum.geek.nz/code/vim-toggle-option-flags.git

# My Vim colorschemes
[submodule "vim/bundle/juvenile"]
    path = vim/bundle/juvenile
    url = https://sanctum.geek.nz/code/vim-juvenile.git
[submodule "vim/bundle/sahara"]
    path = vim/bundle/sahara
    url = https://sanctum.geek.nz/code/vim-sahara.git

# Others' Vim plugins
[submodule "vim/bundle/abolish"]
    path = vim/bundle/abolish
    url = https://sanctum.geek.nz/clone/vim-abolish.git
[submodule "vim/bundle/commentary"]
    path = vim/bundle/commentary
    url = https://sanctum.geek.nz/clone/vim-commentary.git
[submodule "vim/bundle/repeat"]
    path = vim/bundle/repeat
    url = https://sanctum.geek.nz/clone/vim-repeat.git
[submodule "vim/bundle/surround"]
    path = vim/bundle/surround
    url = https://sanctum.geek.nz/clone/vim-surround.git
[submodule "vim/bundle/unimpaired"]
    path = vim/bundle/unimpaired
    url = https://sanctum.geek.nz/clone/vim-unimpaired.git
