bin/brnl
bin/csmw
bin/ddup
bin/gwp
bin/jfp
bin/han
bin/htdec
bin/htenc
bin/htref
bin/max
bin/mean
bin/med
bin/mftl
bin/min
bin/mode
bin/nlbr
bin/onl
bin/quo
bin/rfct
bin/rndi
bin/sd2u
bin/sec
bin/slsf
bin/su2d
bin/tot
bin/unf
bin/uts
bin/xrq
games/acq
games/aesth
games/chkl
games/drakon
games/kvlt
games/rot13
games/strik
games/zs
git/gitconfig
gnupg/gpg.conf
mail/mailrc
man/man7/dotfiles.7df
tmux/tmux.conf
urxvt/ext/select
