bin/ap
bin/apf
bin/ax
bin/bcq
bin/bel
bin/bl
bin/bp
bin/br
bin/brnl
bin/ca
bin/cf
bin/cfr
bin/chc
bin/chn
bin/clog
bin/clrd
bin/clwr
bin/csmw
bin/dam
bin/d2u
bin/ddup
bin/dmp
bin/dub
bin/edda
bin/eds
bin/exm
bin/fgscr
bin/finc
bin/fnl
bin/gms
bin/grc
bin/grec
bin/gred
bin/gscr
bin/gwp
bin/han
bin/hms
bin/htdec
bin/htenc
bin/htref
bin/hurl
bin/igex
bin/isgr
bin/ix
bin/jfc
bin/jfcd
bin/jfp
bin/loc
bin/mi5
bin/max
bin/maybe
bin/mean
bin/med
bin/mex
bin/mftl
bin/min
bin/mkcp
bin/mkmv
bin/mktd
bin/mode
bin/motd
bin/murl
bin/mw
bin/nlbr
bin/onl
bin/osc
bin/p
bin/pa
bin/paz
bin/ped
bin/pit
bin/plmu
bin/pp
bin/pph
bin/pst
bin/pvi
bin/pwg
bin/quo
bin/rfcf
bin/rfcr
bin/rfct
bin/rgl
bin/rnda
bin/rndf
bin/rndi
bin/rndl
bin/rnds
bin/sd2u
bin/sec
bin/shb
bin/slow
bin/sls
bin/slsf
bin/sqs
bin/sra
bin/sshi
bin/sta
bin/stbl
bin/stex
bin/stws
bin/su2d
bin/sue
bin/supp
bin/swr
bin/td
bin/tl
bin/tlcs
bin/tm
bin/tot
bin/trs
bin/try
bin/u2d
bin/umake
bin/unf
bin/urlc
bin/urlh
bin/urlmt
bin/uts
bin/vest
bin/vex
bin/wro
bin/xgo
bin/xgoc
bin/xrbg
bin/xrq
games/aaf
games/acq
games/aesth
games/chkl
games/dr
games/drakon
games/kvlt
games/rndn
games/rot13
games/squ
games/strik
games/xyzzy
games/zs
git/gitconfig
git/gitconfig.m4
gnupg/gpg.conf
gnupg/gpg.conf.m4
man/man7/dotfiles.7df
tmux/tmux.conf
tmux/tmux.conf.m4
urxvt/ext/select
