[submodule "vim/bundle/abolish"]
    path = vim/bundle/abolish
    url = https://sanctum.geek.nz/clone/vim-abolish.git
[submodule "vim/bundle/commentary"]
    path = vim/bundle/commentary
    url = https://sanctum.geek.nz/clone/vim-commentary.git
[submodule "vim/bundle/juvenile"]
    path = vim/bundle/juvenile
    url = https://sanctum.geek.nz/code/juvenile.git
[submodule "vim/bundle/lion"]
    path = vim/bundle/lion
    url = https://sanctum.geek.nz/clone/vim-lion.git
[submodule "vim/bundle/pathogen"]
    path = vim/bundle/pathogen
    url = https://sanctum.geek.nz/clone/vim-pathogen.git
[submodule "vim/bundle/repeat"]
    path = vim/bundle/repeat
    url = https://sanctum.geek.nz/clone/vim-repeat.git
[submodule "vim/bundle/sahara"]
    path = vim/bundle/sahara
    url = https://sanctum.geek.nz/code/sahara.git
[submodule "vim/bundle/surround"]
    path = vim/bundle/surround
    url = https://sanctum.geek.nz/clone/vim-surround.git
[submodule "vim/bundle/unimpaired"]
    path = vim/bundle/unimpaired
    url = https://sanctum.geek.nz/clone/vim-unimpaired.git
